@import 'variables';

@mixin darkMode {
  :host-context(.darkMode) & {
    @content;
  }
}

@mixin rounded {
  border-radius: 0.5rem;
}

@mixin flex-1 {
  flex: 1 1 0%;
}

@mixin logoSize {
  width: 200px;
  height: 100px;
}

@mixin transition($property, $time: 0.5s) {
  $trans: $transition-animation $property $time;
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}
