$margin-xs: 0.5rem;
$margin-s: 1.25rem;
$margin-m: 2rem;

$padding-xs: 0.5rem;
$padding-s: 1.25rem;
$padding-m: 2rem;

$image300: 300px;
$image64: 64px;
$image40: 40px;

$player-height: 100px;
$sidebar-width: 300px;

$transition-animation: cubic-bezier(0.075, 0.82, 0.165, 1);

$logo1x2-light: 'logo_1x2.png';
$logo1x2-dark: 'logo_1x2_dark.png';
$menu-height: 60px;

$light-background: #f0f0f0;
$dark-background: #171717;
// Light Theme Text
$dark-text: #171717;
$dark-primary-text: rgba($dark-text, 0.9);
$dark-accent-text: rgba($dark-text, 0.6);
$dark-disabled-text: rgba($dark-text, 0.4);
$dark-dividers: rgba($dark-text, 0.2);
$dark-focused: rgba($dark-text, 0.2);
// Dark Theme text
$light-text: #e6e6e6;
$light-primary-text: rgba($light-text, 0.9);
$light-accent-text: rgba($light-text, 0.6);
$light-disabled-text: rgba($light-text, 0.4);
$light-dividers: rgba($light-text, 0.2);
$light-focused: rgba($light-text, 0.2);

:root {
  --bg-l5: #{lighten($light-background, 5%)};
  --bg: #{$light-background};
  --bg-d5: #{darken($light-background, 5%)};
  --bg-d10: #{darken($light-background, 10%)};
  --bg-d20: #{darken($light-background, 20%)};
  --bg-a5: #{rgba($dark-background, 0.05)};
  --bg-a15: #{rgba($dark-background, 0.15)};

  --text: #{$dark-text};
  --text-a90: #{$dark-primary-text};
  --text-a60: #{$dark-accent-text};
  --text-a40: #{$dark-disabled-text};
  --text-a20: #{$dark-focused};

  --primary: #e1bd51;
  --primary-l: #f6ebcb;
  --primary-d: #d5a637;

  --text-primary: #{$dark-primary-text};
  --text-primary-l: #{$dark-primary-text};
  --text-primary-d: #{$dark-primary-text};

  --accent: #2c4c8c;
  --accent-l: #c0c9dd;
  --accent-d: #1b336f;

  --text-accent: #{$light-primary-text};
  --text-accent-l: #{$dark-primary-text};
  --text-accent-d: #{$light-primary-text};

  --warn: #d94167;
  --warn-l: #f4c6d1;
  --warn-d: #ca2a4a;

  --text-warn: #{$light-primary-text};
  --text-warn-l: #{$dark-primary-text};
  --text-warn-d: #{$light-primary-text};

  --base-url: '/';
}

.darkMode {
  --bg-l5: #{lighten($dark-background, 5%)};
  --bg: #{$dark-background};
  --bg-d5: #{darken($dark-background, 3%)};
  --bg-d10: #{darken($dark-background, 6%)};
  --bg-d20: #{darken($dark-background, 12%)};
  --bg-a5: #{rgba($light-background, 0.05)};
  --bg-a15: #{rgba($light-background, 0.15)};

  --text: #{$light-text};
  --text-a90: #{$light-primary-text};
  --text-a60: #{$light-accent-text};
  --text-a40: #{$light-disabled-text};
  --text-a20: #{$light-focused};
}
