$margin-xs: 0.5rem;
$margin-s: 1.25rem;
$margin-m: 2rem;

$padding-xs: 0.5rem;
$padding-s: 1.25rem;
$padding-m: 2rem;

$primary: #e8cd7b;
$accent: #fce883;
$background: green;

$primary-dark: #000;
$accent-dark: #7a7a7a;
