/* You can add global styles to this file, and also import other style files */
@import 'styles/mixins';

@import 'styles/theme';
@import 'styles/scrollbar';
@import 'libs/web/spotify/shared/directives/src/styles/overflow';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  text-overflow: ellipsis;
  font-family: Lato, 'Helvetica Neue', sans-serif;
  overflow: overlay;
}

a,
button.mat-icon-button,
a.mat-icon-button {
  color: var(--text-a60);
  text-decoration: none;
  @include transition(text-decoration);
  cursor: pointer;

  &:hover {
    text-decoration: underline;

    mat-icon {
      color: var(--primary);
      @include transition(color);
    }
  }
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}
