<h3 i18n>How to use it?</h3>
<p i18n>
  Grab your friends and sing along your favorite songs which are played on
  Spotify
</p>
<p i18n>To get started, you need to have a premium Spotify account.</p>
<p i18n>Since this project uses a Spotify you need to authorize it.</p>
<p i18n>
  After authorization you will be back redirected to this page and logged in.
</p>

<h3 i18n>About</h3>
<p i18n>
  It's a project that I found useful one time, when I wanted to sing my favorite
  spanish songs
</p>
<p i18n>
  I couldn't find any cool way to do this, so I decided to make it myself.
</p>

<h3 i18n>Details</h3>
<p i18n>This is my side project to develop my best with Angular framework.</p>
<p class="github-line">
  <span i18n> More (technical) details on </span>
  <a href="https://github.com/ArturBa/spotify-karaoke">
    <button mat-button>
      <mat-icon svgIcon="github"></mat-icon>
      <span i18n> Github </span>
    </button>
  </a>
</p>
